{% extends "skeleton.html" %}

{% block head_extra %}
    <title>KUbe</title>
{% endblock %}

{% block content %}
    <div class="intro-box">
    <h2>Hvad er KUbe?</h2>
    <p>
    KUbe er en klub for <abbr title="Folk der er glade for Rubik's cuben">speedcubere</abbr> ved Københavns Universitet.
    </p>
    <p>
    Møder afholdes ca. en gang om måneden. Følg med i hvornår næste møde er på <a href="https://www.facebook.com/groups/KUbe.KU/">KUbes Facebook side</a>.
    </p>
    </div>
    <h2>Resultaterne fra seneste møde</h2>
    {% include "session-table.html" with sessions=latest_session %}
{% endblock %}