{% for session in sessions %}
    {% if captions %}<h2>{{ session.notes }} ({{ session.date }})</h2>{% endif %}
    <table class="table table-condensed table-bordered table-striped session-table">
        <thead>
        <th>Name</th>
        <th>Average</th>
        <th>Time 1</th>
        <th>Time 2</th>
        <th>Time 3</th>
        <th>Time 4</th>
        <th>Time 5</th>
        <th>Improvement</th>
        </thead>
        {% for puzzle, avgs in session.avgs %}
            <tr><th colspan="8" class="puzzle-head">{{ puzzle }}</th></tr>
            {% for avg in avgs %}
                <tr class="{% if avg.session_winner %}session-winner{% endif %}">
                    <td><a href="{% url Timekeeper.views.userpage id=avg.user.id %}" class="time time-user">{{ avg.user }}</a></td>
                    <td class="time time-average">{{ avg.avg }}</td>
                    <td class="time time-normal">{{ avg.time1 }}</td>
                    <td class="time time-normal">{{ avg.time2 }}</td>
                    <td class="time time-normal">{{ avg.time3 }}</td>
                    <td class="time time-normal">{{ avg.time4 }}</td>
                    <td class="time time-normal">{{ avg.time5 }}</td>
                    <td class="time time-improvement">{{ avg.improvement_string }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endfor %}