{% extends "skeleton.html" %}
{% block extra_head %}
    <title>KUbe - {{ profile }}</title>
{% endblock %}
{% block content %}
<h1>Tider for {{ profile }}</h1>

{% for puzzle, times in puzzles.items %}
    <h2>{{ puzzle }}</h2>
<table class="table table-bordered">
    <thead>
    <th>Session</th>
    <th>Average</th>
    <th>Time 1</th>
    <th>Time 2</th>
    <th>Time 3</th>
    <th>Time 4</th>
    <th>Time 5</th>
    <th>Improvement</th>
    </thead>
        {% for time in times %}
            <tr>
                <td class="time time-session">{{ time.session }}</td>
                <td class="time time-average">{{ time.avg }}</td>
                <td class="time time-normal">{{ time.time1 }}</td>
                <td class="time time-normal">{{ time.time2 }}</td>
                <td class="time time-normal">{{ time.time3 }}</td>
                <td class="time time-normal">{{ time.time4 }}</td>
                <td class="time time-normal">{{ time.time5 }}</td>
                <td class="time time-improvement {% if time.improvement > 0 %}positive{% elif time.improvement < 0 %}negative{% endif %}">{{ time.improvement_string }}</td>
            </tr>
        {% endfor %}
</table>
{% endfor %}
{% endblock %}