{% extends "skeleton.html" %}
{% load staticfiles %}
{% block head_extra %}
    <title>KUbe - {{ profile }}</title>
    <script src="{% static "js/highcharts.js" %}"></script>
{% endblock %}
{% block content %}
<h1>Tider for {{ profile }}</h1>

<div class="puzzle-graph" id="puzzle-graph"></div>

{% for puzzle, times in puzzles.items %}
    <h2>{{ puzzle }}</h2>
<table class="table table-bordered">
    <thead>
    <th>Session</th>
    <th>Average</th>
    <th>Time 1</th>
    <th>Time 2</th>
    <th>Time 3</th>
    <th>Time 4</th>
    <th>Time 5</th>
    <th>Improvement</th>
    </thead>
        {% for time in times %}
            <tr>
                <td class="time time-session">{{ time.session }}</td>
                <td class="time time-average">{{ time.avg }}</td>
                <td class="time time-normal">{{ time.time1 }}</td>
                <td class="time time-normal">{{ time.time2 }}</td>
                <td class="time time-normal">{{ time.time3 }}</td>
                <td class="time time-normal">{{ time.time4 }}</td>
                <td class="time time-normal">{{ time.time5 }}</td>
                <td class="time time-improvement {% if time.improvement > 0 %}positive{% elif time.improvement < 0 %}negative{% endif %}">{{ time.improvement_string }}</td>
            </tr>
        {% endfor %}
</table>
{% endfor %}
    <script>
    var formatTime = function (time) {
        var secs = time % 60;
        var minutes = Math.floor(time / 60);
        var res = secs.toFixed(2);
        if (minutes > 0) {
            res = minutes + ":" + (secs < 10 ? '0' : '') + res;
        }
        return res;
    }

    $(function() {
        "use strict";

        $.get('/api/user/{{ profile.id }}', function (response) {
            var data = response.chartData;
            data.yAxis = {
                'title': { 'text': "Tid" },
                'labels': { 'formatter': function () { return formatTime(this.value); } }
            };
            data.tooltip = {
                'formatter': function () {
                    return "<strong>" + this.x + "</strong><br/><strong>" + this.series.name + ":</strong> " + formatTime(this.y);
                }
            }
            $('#puzzle-graph').highcharts(data);
        });
    })
    </script>
{% endblock %}